hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape{
    display: none;
}

.lista-rodape__link:hover{
    color: var(--laranja);
}

@media screen and (min-width: 1024px) {
    .rodape__titulo {
        font-weight: 400;
        font-size: 24px;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        padding-bottom: 2em;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        font-weight: 400;
        font-size: 14px;
        color: var(--cinza-claro);
        padding-bottom: 1em;
    }

    .lista__item {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        margin: 0.5em 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        padding-left: 0.5em;
    }
}

@media screen and (min-width: 1440px) {
   
    .rodape{
        padding-top: 3em;
    }
   
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
    padding-left: 1em;
    }
}